* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #00045c;
    background-image: url('./assets/BG.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.full {
    position: absolute;
    background-image: url('./assets/s1.png'), url('./assets/s2.png'), url('./assets/s3.png');
    height: 100%;
    width: 100%;
    background-size: 200px;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}
@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

.help {
    font-size: 40px;
    position: relative;
    left: calc(100% - 180px);
    font-family: Monospace;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #02089c;
}

.exit {
    background-color: red;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.pag_help {
    display: none;
    position: relative;
    background-color: white;
    z-index: 5;
    height: 50%;
    width: 80%;
    font-family: Monospace;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.side_bar {
    display: flex;
    background-color: #C8FA82;
    padding: 15px;
    color: #02089c;
    font-family: "cursive";
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}

.logo {
    opacity: 0.9;
    padding-top: 60px;
}

.image {
    width: 300px;
    height: 300px;
    margin: auto;
    background-attachment: fixed;
    background-size: cover;
}

@keyframes animImg {
    0% {
        transform: translateX(0);
        opacity: 0.2;
    }
    20% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes animImg {
    0% {
        -webkit-transform: translateX(0);
        opacity: 0.2;
    }
    20% {
        -webkit-transform: translateX(-30px);
    }
    50% {
        -webkit-transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes animImg {
    0% {
        -moz-transform: translateX(0);
        opacity: 0.2;
    }
    20% {
        -moz-transform: translateX(-30px);
    }
    50% {
        -moz-transform: translateX(30px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

.field_num {
    width: 370px;
    height: 110px;
    margin: 0 auto;
    margin-top: 50px;
}

.input_num {
    width: 370px;
    height: 100px;
    font-size: 40px;
    border: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #33344a;
    box-shadow: 5px 5px 2px black;
    -moz-box-shadow: 5px 5px 2px black;
    -webkit-box-shadow: 5px 5px 2px black;
    color: #C8FA82;
    font-family: Monospace;
    text-shadow: 0px 0px 2px #C8FA82;
    opacity: 0.6;
    margin-top: 2px;
}

@keyframes anim {
    0% {
        background-color: #02089c;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: #02089c;
    }
}

.operations {
    width: 350px;
}

.operate {
    width: 80px;
    height: 60px;
    background-color: #C8FA82;
    border: none;
    margin: 7px;
    font-size: 20px;
    opacity: 0.9;
    border-radius: 0% 50% 50% 50%;
}

#clear {
    font-size: 15px;
    width: 100px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.keys {
    width: 370px;
    height: 100%;
    margin: 0 auto;
}

.key {
    width: 370px;
    height: 115px;
    font-size: 30px;
    font-family: Monospace;
    background-color: #0c0d27;
    color: #C8FA82;
    border: none;
    transition: 0.2s linear;
    opacity: 0.9;
}

.key:hover {
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    box-shadow: 0 1px 20px black;
    -moz-box-shadow: 0 1px 20px black;
    -webkit-box-shadow: 0 1px 20px black;
}

ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#btn_1 {
    border-top-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -webkit-border-top-left-radius: 50px;
}

#btn_2 {
    border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -webkit-border-bottom-left-radius: 50px;

}

#btn_3 {
    border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -webkit-border-top-right-radius: 50px;

}

#btn_4 {
    border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -webkit-border-bottom-right-radius: 50px;

}
